.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu{
  width:500px;
  height:500px;
  border-radius:10px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu button, .quiz button, .End button{
   background-color: #835150;
   width:300px;
   height:50px;
   margin:10px;
   border:none;
   border-radius: 5px;
   font-size: 20px;
  cursor: pointer;
  color:white
  
}

button.next {
  background-color: rgb(206, 119, 21);
}

button.finish {
  background-color: rgba(53, 146, 65, 0.493);
}

body{
  background-color:rgb(255,255,255,0.7);
}

.quiz,.End,.menu{
  width:700px;
  height:500px;
  border-radius:10px;
  background-color: tan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgb(0,0,0,0.2);
}

.menu,
.quiz,
.End,h1{
    color:rgb(0,0,0,0.6);

}

.questions{
  width:100%;
  color:gainsboro;
}
